<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MapRoam</title>

    <!-- Bootstrap 5.0.0-alpha1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />

    <!-- Mapbox CSS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <!-- Mapbox JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/app.css" />
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/navbar') %>

        <main class="container mt-5 flex-grow-1">
            <%- include('../partials/flash') %>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>

            <!-- Popper.js for Bootstrap 5 alpha -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

            <!-- Bootstrap 5.0.0-alpha1 JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
                integrity="sha384-..." crossorigin="anonymous"></script>

            <!-- bs-custom-file-input -->
            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

            <!-- Your custom JS -->
            <script src="/javascripts/validateForms.js"></script>
</body>

</html>